.mouse_over{
	cursor: pointer;
    
}
.underline:hover{
	text-decoration: underline;
}
body{
	background:#f5f5f5;
}
header{
	position: fixed !important;
    z-index: 100 !important;
    margin: 0 !important;
}
div{
	text-align: justify;
}
.o-circle{
	border-radius: 1.5em;
}
.container-top{
	padding-top: 6.5em !important;
}
.tags{
	padding: 1px 11px;
    color: grey;
    border-radius: 1.69em;
}

.border-bottom{
	border-bottom: 1px solid rgba(171, 171, 171, 0.51);
	padding-bottom: 1.5em;
}
.smaller{
	font-size: small;
}
.larger{
	font-size : 2em !important;
}
.firstletter:first-letter{
	text-transform: uppercase;
}
.indent{
	 text-indent: 30px;
}

h5 a{
	color : black !important;
}
h1 a{
	text-decoration : none !important;
}
.margin-zero{
	margin : 0 !important;
}

.padding-bottom-zero{
	padding-bottom : 0 !important;
}
.padding-zero{
	padding : 0 !important;
}
.user-name{
    border: 1px solid #ced4da;
    font-size: 14px;
    font-family: cursive;
    padding: 4px 15px;
}



.label-info {
    background-color: #5bc0de;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.bs-example input{
	min-width: 254px !important;
}
.search-icon{
	background: white;
    height: 38px;
    top: 0.02em;
    border: 1px solid #ced4da;
    border-left: white;
}

.search-icon i{
    color: rgba(16, 16, 16, 0.34);
}