<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script src="/js/bootstrap-tagsinput.min.js"></script>
<div class="container pt-5 container-top">

	<form name="addquestion">
		<div class="row pl-5 form-group ">
			<div class="col-sm-1 " style="top: 5px;">
				<label for="title" class="float-md-right">Title</label>
			</div>
			<div class="col-sm-10">
				<input type="text" name="qust" class="form-control col-sm-7"
					width="62" placeholder="What is there in your mind?"
					ng-model="qust" required> <span style="color: red"
					ng-show="addquestion.qust.$dirty && addquestion.qust.$invalid"> <span
					ng-show="addquestion.qust.$error.required">Title is required.</span>
				</span>
			</div>
		</div>

		<div class="row pl-5 form-group">
			<div class="col-sm-8 ml-6" style="padding-left: 47px;">
				<div class="form-control"
					style="background: #f5f5f5; border-radius: 0;">Description</div>
				<textarea id="description" name="description" ng-model="description"
					cols="70" rows="9" tabindex="101" class="form-control" required
					style="border-radius: 0;" ng-minlength=50></textarea>
					<span style="color: red"
					ng-show="addquestion.description.$dirty && addquestion.description.$invalid">Description should have min of 50 characters.
				</span>

			</div>
		</div>
		<div class="row pl-5 form-group ">
			<div class="col-sm-12 pl-5">
				<label for="title" class="">Tags</label>
			</div>
			<div class="col-sm-7 pl-5">
				<div class="example example_multivalue" style="text-align: left !important;">
			          <div class="bs-example">
			            <select multiple data-role="tagsinput" name="tags" ng-model="tags" required >
			              <!-- <option value="Amsterdam">Amsterdam</option>
			              <option value="Washington">Washington</option>
			              <option value="Sydney">Sydney</option>
			              <option value="Beijing">Beijing</option>
			              <option value="Cairo">Cairo</option> -->
			            </select>
			          </div>
		          </div>
			<!-- 	<input type="text" name="tags" ng-model="tags" class="form-control" width="62"
					placeholder="atleast one tag such as java, JS" required only-letters-input> -->
					<span style="color: red" ng-show="addquestion.tags.$dirty && addquestion.tags.$invalid" >Please enter atleast one tag</span>
					<span style="color: red;" class="smaller" ng-show="!(addquestion.tags.$dirty && addquestion.tags.$invalid)" >*After typing tag press Enter button.</span>
				
			</div>
		</div>
		<div class="row pl-5 form-group">
			<button type="submit" class="btn btn-success ml-5" ng-disabled="addquestion.qust.$invalid"
				ng-click="addQuestion(addquestion)">Submit</button>
		</div>
	</form>
</div>